
        <section class="container">
        <ul class="messages list-group">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="list-group-item message">


            <h4 class="mb-1"><% if(posts[i].userType == "expert" ) { %><span> Expert </span><% } %><%= posts[i].title %></h4>

						<p class="mb-1"><%= posts[i].body %></p>
            <img class="img" style="width:100%" src="data:image/png;base64,<%=posts[i].img.toString('base64') %>" alt="">
            <h3 style="margin-bottom: 2%; font-family: 'Abril Fatface', cursive;">Comments</h3>
            <ul class="list-group">
             <%comments.forEach(comment => {%>
                <li class="list-group-item"><span style="font-size: 12px; color: grey; margin-right: 8px; "><%=comment.commentBy%>:</span><%=comment.comment%></li>
              <%})%>

              </ul>
            <form action="/comment/<%= posts[i]._id %>" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;">Post Comment</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="comment!" name="comment">
              </div>
                <input class="btn btn-primary" type="submit" value="Submit">

            </form>



          </li>

        <% } %>

        </ul>


        </section>
